body {
  font-family: "SourceSans3";
  margin: 0;
  padding: 0;
  background-color: var(--white-color);

}

:root {
  --grey: #ddd;
  --parrot-color: #8bc53f;
  --light-grey: #32414e;
  --background-overlay: #32414ec2;
  --dark-grey: #333;
  --primary-color: #0067B1;
  --background-light: #F6F6F6;
  --white-color: #fff;
  --accent-color: #E1523D;
  --dark-blue: #0C355A;
  --dark-bluish: #062138;
  --dark-color: #000;
  --darkish-blue: #040F18;
  --grey-color: #ededed;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.nav-item.active {
  text-decoration: underline;
}

.nav-item {
  z-index: 100;
  cursor: pointer;
}

.main-nav {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar {
  margin: 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  color: var(--dark-color);
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  z-index: 100;
  margin: 0;
}

.nav-list-2 {
  display: flex;
  list-style: none;
  color: var(--white-color);
  padding: 0;
  z-index: 100;
  margin: 0;
}

.nav-list-2 a {
  color: var(--white-color);
}

.nav-list li {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.nav-list-2 li {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 170px;
  margin-top: 10px;
  left: -34px;
  background-color: var(--background-light);
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 100;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li:hover {
  text-decoration: underline;
}

.dropdown-menu a {
  color: var(--dark-color);
  font-size: 12px;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: var(--primary-color);
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* Enable clicks when visible */
}

.search-icon {
  margin-top: 4px;
  z-index: -1;
  color: var(--dark-color);
}

.side-logo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.side-logo img {
  height: 2rem;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.3s ease;
  /* Smooth transition */
}

.bar {
  position: absolute;
  z-index: 100;
  height: 3px;
  width: 100%;
  background-color: var(--dark-color);
  transition: all 0.3s ease;
  /* Smooth transition */
}

.bar1 {
  top: 0;
  z-index: 100;
}

.bar2 {
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
}

.bar3 {
  bottom: 0;
  z-index: 100;
}

/* Animate Hamburger to Cross */
.hamburger-icon.active .bar1 {
  z-index: 100;
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-icon.active .bar2 {
  opacity: 0;
  z-index: 100;
}

.hamburger-icon.active .bar3 {
  z-index: 100;
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  /* Initially hidden */
  width: 300px;
  height: 100%;
  background-color: var(--background-light);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar-open {
  z-index: 100;
  transform: translateX(300px);
  /* Show sidebar */
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  margin: 20px;
}

.closing-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  margin: 20px;
  display: none;
}

@media(max-width:400px) {
  .closing-icon {
    display: block;
  }
}

/* Sidebar list styles */
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  margin: 0;

}

.sidebar-list li:hover {
  color: var(--primary-color);
}

/* Responsive Styles */
@media (max-width: 960px) {
  .nav-list {
    display: none;
  }

  .hamburger-icon {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
}

@media (max-width: 960px) {
  .nav-list-2 {
    display: none;
  }

  .hamburger-icon {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
}

.search ul {
  padding-left: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  list-style-type: none;
}

.dropdown-sidebar {
  display: none;
}

@media(max-width:960px) {
  .dropdown-sidebar {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .dropdown-sidebar-menu {
    overflow: hidden;
    padding-left: 0px;
    list-style-type: none;
    margin-left: -20px;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }

  .dropdown-sidebar-menu a {
    color: var(--dark-color);
    text-decoration: none;
    font-size: 15px;
  }

  .dropdown-sidebar-menu.active {
    max-height: 300px;
    /* Adjust based on the content */
    opacity: 1;
  }

  .dropdown-sidebar .plus-icon {
    transition: transform 0.3s ease;
  }

  .dropdown-sidebar .plus-icon.rotate {
    transform: rotate(45deg);
  }

  .plus-icon {
    margin-top: 10px;
    margin-bottom: -2px;
    align-items: flex-end;
  }
}

.main-hero {
  display: flex;
  margin-bottom: 390px;
  flex-direction: column;
}

@media(max-width:600px) {
  .main-hero {
    margin-bottom: 200px;
  }
}

@media(max-width:400px) {
  .main-hero {
    margin-bottom: 90px;
  }
}

.hero-section {
  margin-top: -475px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: var(--white-color);
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.digital-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Hero-heading {
  max-width: 1000px;
  margin-right: auto;
}

.digital-heading {
  position: relative;
  z-index: 1;
  align-items: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  margin-top: -700px;
}

.digital-heading h1 {
  font-size: 6rem;
  margin-bottom: -10px;
  color: var(--white-color);
}

@media(max-width:800px) {
  .digital-heading h1 {
    font-size: 4rem;
  }
}

@media(max-width:550px) {
  .digital-heading h1 {
    font-size: 2.5rem;
  }
}

@media(max-width:380px) {
  .digital-heading h1 {
    font-size: 2rem;
  }
}

.Hero-heading h1 {
  font-size: 50px;
  margin-bottom: -10px;
  color: var(--white-color);
}

@media(max-width:1000px) {
  .digital-heading {
    margin-left: 20px;
  }
}

@media(max-width:1000px) {
  .Hero-heading {
    margin-left: 20px;
  }
}

.hero-description {
  max-width: 1000px;
  margin-right: auto;
}

.hero-description p {
  color: var(--white-color);
  margin-right: 410px;
}

@media(max-width:1000px) {
  .hero-description p {
    margin-right: 200px;
    margin-left: 20px;
  }
}

@media(max-width:621px) {
  .hero-description p {
    margin-right: 100px;
  }
}

@media(max-width:480px) {
  .hero-description p {
    margin-right: 20px;
  }
}

.Main-Rating {
  width: auto;
  height: 365px;
  z-index: 1;
  display: flex;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 100px;
  background-image: url(@/assets/images/Banner-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width:1200px) {
  .Main-Rating {
    margin: 40px;
  }
}

@media(max-width:840px) {
  .Main-Rating {
    display: none;
  }
}

.rating-image {
  background: 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-position: right center;
  background-repeat: no-repeat;
}

.rating-image img {
  margin: 30px;
  background: 0 0;
  position: relative;
  height: auto;
  width: 90%;
  margin-top: 0;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-position: right center;
  background-repeat: no-repeat;
}

.main-rating-2 {
  display: none;
}

@media(max-width:840px) {
  .main-rating-2 {
    display: block;
  }
}

.Rating-section-2 {}

.rating-head-2 {
  margin: 32px;
}

@media(max-width:400px) {
  .rating-head-2 h1 {
    font-size: 20px;
  }
}

.rating-description-2 {
  margin: 32px;
}

.Rating-section {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 30px;
}

@media(max-width:540px) {
  .Rating-section {
    padding: 10px;
    margin: 0px;
  }
}

.rating-head {
  padding: 10px;
}

.rating-head h1 {
  font-size: 40px;
  color: var(--white-color);
  margin-right: 700px;
}

@media(max-width:1200px) {
  .rating-head h1 {
    margin-right: 250px;
  }
}

@media(max-width:870px) {
  .rating-head h1 {
    margin-right: 00px;
  }
}

@media(max-width:670px) {
  .rating-head h1 {
    font-size: 17px;
  }
}

@media(max-width:670px) {
  .rating-head h1 {
    font-size: 17px;
  }
}

.rating-description p {
  margin-right: 662px;
  margin-left: 10px;
  color: var(--white-color);
}

@media(max-width:1200px) {
  .rating-description p {
    margin-right: 250px;
  }
}

@media(max-width:870px) {
  .rating-description p {
    margin-right: 0px;
  }
}

@media(max-width:670px) {
  .rating-description p {
    font-size: 15px;
  }
}

.Rating-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Main-Rating-Box {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.Rating-Box {
  padding: 20px;
  margin: 10px;
}

@media(max-width:400px) {
  .Rating-Box {
    margin: 0px;
  }
}

.Rating-box-1 {
  margin: 10px;
  width: 30%;
  background-color: var(--background-light);
}

@media(max-width:700px) {
  .Rating-box-1 {
    width: 100%;
  }
}


.Rating-box-1 h1 {
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  color: var(--primary-color);
}

@media(max-width:800px) {
  .Rating-box-1 h1 {
    font-size: 35px;
  }
}

.Rating-box-1 p {
  text-align: center;
  margin: 5px;
  padding: 10px;
}

@media(max-width:400px) {
  .Rating-box-1 p {
    font-size: 13px;
  }
}

/* Ensure the parent element takes up the full viewport */
.video-background {
  position: relative;
  margin-top: -110px;
  width: 100%;
  height: 820px;
  overflow: hidden;
}

@media(max-width:1025px) {
  .video-background {
    height: 700px;
  }
}

.video-background video {
  /* filter: grayscale(70%) brightness(80%); */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the video covers the entire area */
  transform: translate(-50%, -50%);
  z-index: -1;
  /* Place the video behind any overlay content */
}

.video-background-1 {
  position: relative;
  margin-top: -110px;
  width: 100%;
  background: linear-gradient(0deg, rgb(6, 15, 24) 10%, rgba(8, 27, 45, 0.75) 30%, rgba(8, 27, 45, 0.75) 75%, rgb(1, 3, 7) 98%);
  height: 820px;
  overflow: hidden;
}

@media(max-width:600px) {
  .video-background-1 {
    height: 560px;
  }
}

.video-background-1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay-content {
  position: relative;
  z-index: 1;
  color: var(--white-color);
  text-align: center;
  padding: 20px;
}

.F-image img {
  width: 21rem;
}

@media(max-width:820px) {
  .F-image img {
    width: auto;
    height: 52vw;
  }

  .F-image {
    width: auto;
    height: 52vw;
  }
}

@media(max-width:545px) {
  .F-image img {
    width: auto;
    height: 45vw;
  }

  .F-image {
    width: auto;
    height: 45vw;
  }
}

.Featured-Boxes {
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  padding: 20px;
}

@media(max-width:1120px) {
  .Featured-Boxes {
    flex-direction: column;
    justify-content: center;
  }
}

.F-box-1 {
  margin: 20px;
}

@media(max-width:1120px) {
  .F-box-1 {
    display: flex;
    flex-direction: row;
  }
}

@media(max-width:820px) {
  .F-box-1 {
    flex-direction: column;
  }
}

.f-description {
  margin-top: -10px;
  width: 19.7rem;
  height: 256px;
  border-left: 1px solid var(--background-light);
  border-bottom: 1px solid var(--background-light);
  border-right: 1px solid var(--background-light);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media(max-width:1120px) {
  .f-description {
    width: auto;
    height: 190px;
  }
}

@media(max-width:820px) {
  .f-description {
    width: 84.5vw;
    height: auto;
  }
}

@media(max-width:545px) {
  .f-description {
    width: 72.4vw;
    height: auto;
  }
}

.arrow {
  font-size: 11px;
  margin-top: 4px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: translateX(10px);
}

.client-row {
  padding: 30px;
}

@media(max-width:500px) {
  .client-row {
    padding: 0px;
  }
}

.client-heading {
  text-align: left;
  margin-left: 35px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:500px) {
  .client-heading {
    text-align: center;
  }
}

.working-container {
  display: grid;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

@media(max-width:1300px) {
  .working-container {
    margin: 50px;
  }
}

@media(max-width:400px) {
  .working-container {
    margin: 30px;
  }
}

@media(max-width:350px) {
  .working-container {
    margin: 20px;
  }
}

/* @media(max-width:50px) {
  .working-container {
    padding: 0px;
  }
} */
@media(max-width:350px) {
  .working-container {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}

.workingcard {
  background: var(--white-color);
  border: 1px solid var(--background-light);
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workingcard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.workingcard-body {
  padding: 16px;
}

.workingcard-body h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.workingcard-body p {
  margin: 0 0 20px;
}

.workingcard-body a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.workingcard-body a:hover {
  text-decoration: underline;
}

.spotlight-container {
  display: flex;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--white-color);
}

.spotlight-image {
  width: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.spotlight-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.spotlight-text {
  width: 50%;
  text-align: left;
}

.spotlight-text h2 {
  font-size: 2em;
  margin: 0;
}

.spotlight-text p {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-decoration: none;
}

.main-work-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.working-button button {
  display: inline-block;
  border: none;
  margin-top: 30px;
  padding: 5px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
}

@media (max-width: 1060px) {
  .spotlight-container {
    flex-direction: column;
    text-align: center;
  }

  .spotlight-image {
    width: 100%;
    margin-right: 0;
  }

  .spotlight-image img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .spotlight-text {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
  }

  .spotlight-text h2,
  .spotlight-text p {
    margin: 12px;
    font-size: 1.15em;
  }

  .explore-button {
    font-size: 1em;
    margin: 12px;
  }
}

@media (max-width: 750px) {
  .spotlight-image {
    width: 100%;
  }

  .spotlight-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }
}

@media (max-width:1300px) {
  .main-spotlight {
    margin: 50px;
  }
}

@media (max-width:400px) {
  .main-spotlight {
    margin: 30px;
  }
}

.spot-tag {
  color: var(--accent-color);
}

.spotlight-heading {
  margin-left: 20px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.news-container h2 {
  margin-left: 10px;
}

.news-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: left;
}

@media(max-width:1300px) {
  .news-container {
    margin: 50px;
  }
}

@media(max-width:400px) {
  .news-container {
    margin: 30px;
  }
}

.news-container h1 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news-card {
  background-color: var(--background-light);
  border: 1px solid var(--grey-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 21%;
  height: 25vh;
  padding: 20px;
  transition: transform 0.3s;
}

@media(max-width:1140px) {
  .news-card {
    width: 30%;
  }
}

.news-card:hover {
  background-color: var(--grey-color);
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.news-icon {
  font-size: 1.5em;
}

.news-category {
  font-weight: bold;
}

.news-date {
  font-size: 0.9em;
  color: var(--dark-color);
}

.news-content h3 {
  font-size: 1rem;
  margin: 30px 0;
}

.read-more {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 900px) {
  .news-card {
    width: 100%;
  }
}


.general-row {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--grey-color);
}

@media(max-width:1300px) {
  .general-row {
    margin: 50px;
  }
}

@media(max-width:400px) {
  .general-row {
    margin: 30px;
  }
}

@media(max-width:455px) {
  .general-row {
    flex-direction: column;
    justify-content: center;
  }

  .general-description {
    margin: 10px;
  }
}

.general-image {
  margin: 20px;
}
.general-image-1 {
  margin: 20px;
}
.general-image-1 img {
  width: 200px;
}
.general-description {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.insight-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 20px;
}

@media(max-width:1300px) {
  .insight-container {
    margin: 35px;
  }
}

@media(max-width:400px) {
  .insight-container {
    margin: 26px;
    padding: 0px;
  }
}

@media(max-width:350px) {
  .insight-container {
    margin: 16px;
  }
}

.insight-article {
  flex: 1;
  min-width: 300px;
  justify-content: space-between;
  margin: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media(max-width:350px) {
  .insight-article {
    min-width: 271px;
  }
}

.insight-head h3 {
  margin-left: 50px;
}

.insight-image {
  width: 100%;
  height: 200px;
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.insight-image img {
  width: 100%;
  height: auto;
  display: block;
}

.insight-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insight-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.insight-content p {
  margin: 0 0 20px;
}

.insight-content a {
  color: var(--primary-color);
  text-decoration: none;
}

.insight-content a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .insight-article {
    flex: 1 1 100%;
  }
}

.insight-article-1 {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media(max-width:580px) {
  .insight-article-1 {
    flex-direction: column;
  }
}

@media(max-width:350px) {
  .insight-article-1 {
    min-width: 271px;
  }
}

.insight-image-1 {
  width: 50%;
  height: auto;
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media(max-width:580px) {
  .insight-image-1 {
    width: 100%;
  }

}

.insight-image-1 img {
  height: auto;
  display: block;
}

.insight-content-1 {
  width: 50%;
  display: flex;
  background-color: var(--grey-color);
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

@media(max-width:580px) {
  .insight-content-1 {
    width: 100%;
    padding: 0px;
  }

}

.insight-content-1 h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

@media(max-width:580px) {
  .insight-content-1 h2 {
    margin: 20px;
  }
}

.insight-content-1 p {
  margin: 0 0 20px;
}

@media(max-width:580px) {
  .insight-content-1 p {
    margin: 20px;
  }
}

.insight-content-1 a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 20px;
}

.insight-content-1 a:hover {
  text-decoration: underline;
}

@media (max-width: 950px) {
  .insight-article-1 {
    flex: 1 1 100%;
  }
}

.insight-head {
  margin-top: 40px;
  font-size: 25px;
  max-width: 1235px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}

.footer-container {
  background-color: var(--darkish-blue);
  color: var(--white-color);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-section {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--white-color);
}

@media(max-width:700px) {
  .cta-section {
    flex-direction: column;
  }
}

.cta-section h2 {
  margin: 10px;
  font-size: 1.5em;
}

.cta-section a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.cta-section a:hover {
  background-color: var(--accent-color);
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo,
.footer-links,
.footer-legal {
  flex: 1;
  margin: 10px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-logo p {
  font-size: 10px;
}

.footer-links h3,
.footer-legal h3 {
  margin-top: 0;
}

.footer-links a,
.footer-legal a {
  color: var(--white-color);
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-legal p {
  display: flex;
  font-size: 12px;
  flex-direction: row;
}

.footer-links a:hover,
.footer-legal a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
}

.footer-social a {
  margin: 0 10px;
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.5em;
}

.footer-social a:hover {
  color: var(--grey-color);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo,
  .footer-links,
  .footer-legal {
    text-align: center;
  }
}

.career {
  background-image: url(@/assets/images/Banner-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 50vh;
}

@media(max-width:2000px) {
  .career {
    height: 69vh;
  }
}

@media(max-width:1300px) {
  .career {
    margin: 50px;
  }
}

@media(max-width:1180px) {
  .career {
    height: 60vh;
  }
}

@media(max-width:700px) {
  .career {
    display: none;
  }
}

.career-2 {
  display: none;
  margin: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 50vh;
}

@media(max-width:700px) {
  .career-2 {
    display: block;
  }
}

.career-details {
  width: 50%;
  margin: 50px;
}

@media(max-width:1110px) {
  .career-details {
    width: auto;
  }
}

.career-details h1 {
  color: var(--white-color);
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 55px;
}

@media(max-width:1180px) {
  .career-details h1 {
    padding-top: 5px;
  }
}

.career-details-2 h1 {
  color: var(--dark-color);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
}

@media(max-width:500px) {
  .career-details-2 h1 {
    font-size: 30px;
  }
}

.career-details p {
  width: 50%;
  color: var(--white-color);
  padding-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.career-details-2 p {
  color: var(--dark-color);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

.careers-button {
  width: 50%;
  margin-left: 50px;
  padding: 50px;
}

@media(max-width:1180px) {
  .careers-button {
    width: auto;
    padding-top: 0px;
  }
}

.careers-button button {
  display: inline-block;
  border: none;
  padding: 15px 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
}

.careers-button-2 button {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 15px 40px;
  margin-top: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
}

.career-2-image img {
  width: 100%;
  height: auto;
}

.main-careers {
  display: flex;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.locations-container {
  margin: 20px;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media(max-width:350px) {
  .location-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.location-item {
  border-top: 2px solid #333;
  padding: 20px 0;
}

.location-item h3 {
  margin: 0 0 10px;
}

.location-item p {
  margin: 0;
}

.location-item span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.location-details {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.offering-col {
  margin: 50px;
  width: 50%;
}

@media(max-width:921px) {
  .offering-col {
    width: 90%;
  }
}

@media(max-width:480px) {
  .offering-col {
    margin: 20px;
    height: auto !important;
  }
}

.offering-row {
  display: none;
  flex-direction: row;
  justify-content: center;
}

@media(max-width:921px) {
  .offering-row {
    flex-direction: column;
  }
}

@media(max-width:821px) {
  .offering-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.offer-image img {
  width: 250px;
  height: auto;
}

@media(max-width:480px) {
  .offer-image img {
    width: 100%;
  }
}

.offering h1 {
  margin-left: 30px;
}

.offering {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

@media(max-width:821px) {
  .offering {
    margin: 20px;
  }
}

.offering-col {
  height: 79px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: left;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid var(--grey-color);
}

@media(max-width:480px) {
  .offering-col {
    flex-direction: column;
  }
}

.offering-col:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offer-desc h3 {
  margin-left: 25px;
  margin-right: 25px;

}

.offer-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:480px) {
  .offer-desc {
    margin-top: -6px;
    border: 1px solid var(--grey-color);
  }
}

.bread-crums {
  border-top: 1px solid var(--grey-color);
  display: flex;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.bread-crums-2 {
  border-top: 1px solid var(--grey-color);
  display: flex;
  max-width: 1180px;
  color: var(--white-color);
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
}

.bread-crums p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.bread-crums-2 p {
  margin-top: 10px;
  color: var(--white-color);
}

@media(max-width:1030px) {
  .bread-crums-2 p {
    margin-left: 10px;
  }
}

@media(max-width:630px) {
  .bread-crums {
    margin: 10px;
  }
}

.services-B {
  padding: 20px;
  background-image: url(@/assets/images/offer-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services-C {
  padding: 20px;
  background-image: url(@/assets/images/offer-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services-B h1 {
  color: var(--white-color);
  font-size: 80px;
  padding: 90px;
  max-width: 1200px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.services-C h1 {
  color: var(--white-color);
  font-size: 80px;
  padding: 90px;
  max-width: 1200px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.services-B-2 {
  display: none;
}

@media(max-width:600px) {
  .services-B-2 h1 {
    margin-left: 20px;
  }

}

.services-B-3 {
  display: none;
}

@media(max-width:600px) {
  .services-B-3 h1 {
    margin-left: 20px;
  }

}

@media(max-width:621px) {
  .services-C {
    display: none;
  }

  .services-B-3 {
    display: block;
  }
}

@media(max-width:621px) {
  .services-B {
    display: none;
  }

  .services-B-2 {
    display: block;
  }
}

.serving-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.serving-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.serving-image img {
  width: 91.5vw;
  margin: 5px;
  height: auto;
}

.services-B-2 {
  font-size: 15px;
  margin: 10px;
}

.services-B-3 {
  font-size: 15px;
  margin: 10px;
}

.serving-search-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

@media(max-width:1200px) {
  .serving-search-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.search-input {
  padding: 20px;
  padding-left: 50px;
  width: 100%;
  border-radius: 35px;
  border: 1px solid var(--background-light);
  box-shadow: 0 0 10px rgba(173, 216, 230, 0.6);
  outline: none;
}

.serving-search-icon {
  position: absolute;
  left: 15px;
  color: var(--dark-color);
}

.serve-p {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.serving-search {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.serve-p p {
  margin: 40px;
  font-size: 20px;
  margin-bottom: 30px;
}

@media(max-width:600px) {
  .serve-p p {
    margin: 26px;
  }
}

.serving-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.serving-category {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  background-color: var(--white-color);
  padding: 20px;
  box-sizing: border-box;
}

.serving-subcategory {
  font-size: 0.9em;
  color: var(--primary-color);
  margin-top: 10px;
}

@media (max-width: 900px) {
  .serving-category {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .serving-category {
    width: 100%;
  }
}

.general-e {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.offering-row-2 {
  max-width: 1250px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  justify-content: space-between;
}

@media(max-width:821px) {
  .offering-row-2 {
    display: none;
  }
}

.offering-col-2 {
  margin: 10px;
  width: 50%;
}

.offering-col-2 {
  width: 50%;
}

.offer-image-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(@/assets/images/offer-1.jpg);
  width: 100%;
  height: 25vh;
}

.offer-image-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(@/assets/images/offer-2.jpg);
  width: 100%;
  height: 25vh;
}

.offer-image-2 img {
  width: auto;
  margin: 10px;
  height: 20vh;
}

.offer-image-3 img {
  width: auto;
  margin: 10px;
  height: 20vh;
}

.border {
  margin-top: 20px;
  width: auto;
  display: flex;
  border-bottom: 1px solid var(--grey-color);
}

.border-1 {
  width: auto;
  display: flex;
  border-bottom: 1px solid var(--grey-color);
}

@media(max-width:600px) {
  .border-1 {
    margin-top: 20px;
  }
}

.border-2 {
  width: auto;
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid var(--grey-color);
}

@media(max-width:1090px) {
  .border-2 {
    margin-top: 0px;
  }
}

@media(max-width:900px) {
  .border-2 {
    margin-top: 20px;
  }
}

@media(max-width:749px) {
  .border-2 {
    margin-top: 0px;
  }
}

@media(max-width:600px) {
  .border-2 {
    margin-top: 20px;
  }
}

.parent-future {
  margin-top: -24px;
  background-color: var(--darkish-blue);
  background-image: radial-gradient(47.71% 50% at 50% 50%, #003763bf, #00376300);
}

.main-expertise {
  background-color: var(--darkish-blue);
}

.parent-expertise {
  padding-top: 50px;
  background-image: radial-gradient(47.71% 50% at 50% 50%, #003763bf, #00376300);
  background-color: var(--darkish-blue);
}

.main-solutions {
  background-color: var(--darkish-blue);
}

.main-expertise-box {
  padding: 30px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.main-expertise-box-2 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.expertise-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.expertise-heading h2 {
  font-size: 4.5rem;
  line-height: 1.25;
  color: var(--white-color);
  font-weight: 600;
  text-wrap: balance;
  letter-spacing: -.02em;
  margin: 0px;
}

@media(max-width:800px) {
  .expertise-heading h2 {
    font-size: 2.5rem;
  }
}

@media(max-width:380px) {
  .expertise-heading h2 {
    font-size: 2rem;
  }
}

.expertise-dsp p {
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--white-color);
  font-weight: 100;
  text-wrap: balance;
  letter-spacing: -.02em;
  margin: 20px;
}

.expertise-bar {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.expertise-bar span {
  color: var(--accent-color);
  background-color: var(--accent-color);
  width: 95px;
  display: flex;
  height: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.case-study {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.case-study-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 30%;
  min-width: 300px;
  max-width: 30%;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
}

.case-study-item img {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  top: 17px;
  z-index: 1;
}

.content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.content h2 {
  margin: 5px 0 0;
  font-size: 30px;
  font-weight: normal;
}

@media(max-width:410px) {
  .content h2 {
    font-size: 22px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: top 0.3s ease, opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
}

.case-study-item:hover .overlay {
  top: 0;
  opacity: 1;
}

.overlay p {
  margin: 10px 0;
  text-align: left;
  color: var(--dark-grey);
}

.button-exp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px;
  width: 10px;
  height: 10px;
  background: var(--accent-color, --primary-color);
  color: var(--white-color);
  text-decoration: none;
  justify-content: center;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.button-exp:hover {
  background: darken(var(--accent-color, --primary-color), 10%);
}

.button-exp span {
  margin-left: 10px;
  transition: margin-left 0.3s ease;
}

.button-exp:hover span {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .case-study-item {
    max-width: 45%;
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .case-study-item {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

.solution-head {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
}

.solution h2 {
  font-size: 40px;
  color: var(--white-color);
  letter-spacing: -.02em;
  margin-bottom: 0px;
}

.solution-dsp p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  color: var(--white-color);
  letter-spacing: -.02em;
}

.button-container {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.glow-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bolder;
  color: var(--grey-color);
  background: none;
  border: 1px solid var(--dark-grey);
  border-radius: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.glow-button:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

@media (max-width: 768px) {
  .glow-button {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .glow-button {
    flex: 1 1 100%;
  }
}

.future-row {
  display: flex;
  max-width: 1225px;
  padding-top: 180px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media(max-width:860px) {
  .future-row {
    flex-direction: column;
  }
}

.future-column-1 {
  margin: 30px;
  width: 50%;
}

@media(max-width:868px) {
  .future-column-1 {
    width: 86%;
  }
}

.future-column-2 {
  margin: 30px;
  width: 50%;
  display: flex;
  justify-content: end;
}

@media(max-width:868px) {
  .future-column-2 {
    justify-content: center;
    width: 100%;
  }
}


.future-head h1 {
  font-size: 3.5rem;
  color: var(--white-color);
}

@media(max-width:600px) {
  .future-head h1 {
    font-size: 2rem;
  }
}

.future-dsp p {
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.future-image {
  background-image: url(@/assets/images/sa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 91%;
  height: 44vh;
}

@media(max-width:868px) {
  .future-image {
    width: 47%;
  }
}

@media(max-width:600px) {
  .future-image {
    width: 87%;
    height: 38vh;
  }
}

.main-promo {
  background-image: url('@/assets/images/promo-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promo-container {
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

@media(max-width:1100px) {
  .promo-container {
    height: auto;
  }
}

.promo-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
}


.promo-content {
  position: relative;
  display: flex;
  max-width: 1200px;
  align-items: center;
  width: 100%;
  background: transparent;
}

.promo-left-section {
  flex: 1;
  padding: 20px;
  color: var(--white-color);
}

.promo-left-section h1 {
  font-size: 3rem;
  margin: 30px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

@media(max-width:900px) {
  .promo-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width:900px) {
  .promo-left-section h1 {
    margin-top: -99px;
    display: flex;
    justify-content: center;
  }
}

@media(max-width:600px) {
  .promo-left-section h1 {
    font-size: 2rem;
  }
}

@media(max-width:420px) {
  .promo-left-section h1 {
    font-size: 1.5rem;
  }
}

@media(max-width:340px) {
  .promo-left-section h1 {
    font-size: 1rem;
  }
}

.promo-left-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  margin: 30px;
}

@media(max-width:480px) {
  .promo-left-section p {
    font-size: 1rem;
  }
}

@media(max-width:340px) {
  .promo-left-section p {
    font-size: 0.7rem;
  }
}

.promo-logos {
  margin-left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid var(--white-color);
}

@media(max-width:730px) {
  .promo-logos {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.promo-logos img {
  margin-top: 20px;
  border-right: 1px solid var(--white-color);
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media(max-width:730px) {
  .promo-logos img {
    width: 9rem;
  }
}

.promo-right-section {
  background: var(--light-grey);
  padding: 30px;
  width: 300px;
}

.promo-right-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.promo-right-section form {
  display: flex;
  flex-direction: column;
}

.promo-right-section form textarea {
  margin-bottom: 15px;
  padding: 15px;
  border: none;
  font-size: 1em;
}

.promo-right-section form input {
  padding: 15px;
  border-bottom: 2px solid var(--light-grey);
  border-left: 0px solid var(--dark-grey);
  border-right: 0px solid var(--dark-grey);
  border-top: 0px solid var(--dark-grey);
  font-size: 1em;
}

.promo-right-section form input::placeholder,
.promo-right-section form textarea::placeholder {
  color: var(--light-grey);
  font-size: 12px;
}

.promo-right-section form .checkboxes label {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  color: var(--white-color);
  font-size: 0.9em;
}

.promo-right-section form button {
  padding: 15px;
  background: var(--accent-color);
  border: none;
  color: var(--white-color);
  font-size: 1.1em;
  cursor: pointer;
}

.promo-right-section form button:hover {
  background: var(--accent-color);
}

@media (max-width: 1100px) {
  .promo-content {
    margin-top: 350px;
    flex-direction: column;
    align-items: center;
  }

  .promo-right-section {
    margin-top: 40px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .promo-content {
    flex-direction: column;
    margin-top: 131px;
    align-items: center;
  }

  .promo-left-section {
    text-align: center;
    margin-bottom: 20px;
  }


}

@media (max-width: 480px) {
  .promo-right-section h2 {
    font-size: 1.5em;
  }
}

.promo-right-section p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
  color: var(--white-color);
}

.promo-right-section h2 {
  margin: 10px;
  text-align: center;
  color: var(--white-color);
}

.promo-left-section button {
  display: none;
}

@media(max-width:700px) {
  .promo-left-section button {
    display: block;
    padding: 15px;
    background: var(--accent-color);
    border: none;
    color: var(--white-color);
    font-size: 1.1em;
    cursor: pointer;
  }
}

@media(max-width:480px) {
  .promo-left-section button {
    font-size: 1rem;
  }
}

.promo-dp-container {
  padding: 20px;
}

.section {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:1200px) {
  .section {
    margin: 85px;
  }
}

@media(max-width:460px) {
  .section {
    margin: 36px;
  }
}

.section-client {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.promo-dp h2 {
  color: var(--parrot-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.promo-dp p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
  color: var(--dark-grey);
}

.promo-dp ul {
  padding-left: 20px;
  color: var(--dark-grey);
}

.promo-dp li {
  margin-bottom: 10px;
}

.promo-dp strong {
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .promo-dp-container {
    padding: 10px;
  }

  .promo-dp h2 {
    font-size: 1.2em;
  }

  .promo-dp p,
  li {
    font-size: 0.9em;
  }
}

.cost-calculator {

  background-color: var(--white-color);
  font-family: Arial, sans-serif;
}

@media(max-width:590px) {
  .cost-calculator {
    display: none;
  }
}

.cost-calculator h2 {
  color: var(--parrot-color);
}

.cost-calculator table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cost-calculator th,
.cost-calculator td {
  border: 1px solid var(--grey-color);
  padding: 10px;
  text-align: left;
}

.cost-calculator th {
  background-color: var(--background-light);
}

.cost-calculator .note {
  margin-top: 20px;
  font-size: 0.9em;
  color: var(--dark-grey);
}



.client-process {
  text-align: center;
}

.client-process h2 {
  margin-bottom: 50px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  border: 1px solid var(--accent-color);
  padding: 30px;
  width: 300px;
  position: relative;
  margin-bottom: 25px;
}

@media(max-width:450px) {
  .step {
    width: 206px;
  }
}

.number {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.steps h3 {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }
}

.step-image {
  margin-top: 35px;
}

.promo-head {
  margin-bottom: 15px;
  color: var(--parrot-color);
}

.section li {
  list-style-type: none;
  padding-left: 0px;
}

.section ul {
  padding-left: 0px;
}

.main-insight-cards {
  margin-top: 30px;
}

.insight-btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.insight-btn button {
  width: 20%;
  font-size: .875rem;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 0;
  overflow: hidden;
  border: none;
}

.main-first {
  background-color: var(--darkish-blue);
}

.first {
  background-color: var(--darkish-blue);
  max-width: 1200px;
  margin-left: auto;
  padding: 20px;
  margin-right: auto;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(@/assets/images/first.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width:650px) {
  .first-row {
    flex-direction: column;
    justify-content: center;
  }
}

.first-col {
  padding: 30px;
}

@media(max-width:650px) {
  .first-col {
    padding: 13px;

  }
}

.first-col h2 {}

.first-col button {
  width: 100%;
  font-size: .875rem;
  padding: 10px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: inline-block;
  overflow: hidden;
  border: none;
}

.about-design {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: end;
  margin: 10px;
}

.about-desgin1 {
  width: 85px;
  margin: 5px;
  background-color: var(--white-color);
  height: 15px;
}

@media(max-width:1110px) {
  .about-desgin1 {
    width: 70px;
  }
}

@media(max-width:460px) {
  .about-desgin1 {
    width: 40px;
    height: 9px;
  }
}

.about-desgin2 {
  width: 115px;
  margin: 5px;
  background-color: var(--white-color);
  height: 15px;
}

@media(max-width:1110px) {
  .about-desgin2 {
    width: 100px;
  }
}

@media(max-width:460px) {
  .about-desgin2 {
    width: 70px;
    height: 9px;
  }
}

.about-row {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
}

@media(max-width:900px) {
  .about-row {
    flex-direction: column;
  }
}

.about-head {
  padding: 10px;
}

.about-head h1 {
  font-size: 60px;
  margin: 10px;
}

@media(max-width:1110px) {
  .about-head h1 {
    font-size: 43px;
  }
}

@media(max-width:460px) {
  .about-head h1 {
    font-size: 23px;
  }
}

.about-col {
  width: 50%;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media(max-width:900px) {
  .about-col {
    width: 100%;
  }
}

.about-col-2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 47vh;
  background-image: url(@/assets/images/ab.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media(max-width:900px) {
  .about-col-2 {
    width: 100%;
  }
}

@media(max-width:460px) {
  .about-col-2 {
    height: 26vh;
  }
}
.about-section{
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}
@media(max-width:1120px){
  .about-section {
    flex-direction: column;
    justify-content: center;
  }
}
.abt-sec-2-dsp{
  padding: 20px;
}
.abt-sec-2-dsp p{
  font-size: 20px;
  font-weight: 400;
}
.about-sidebar-menu {
  width: 250px;
  margin: 20px;
  font-family: Arial, sans-serif;
}
@media(max-width:1120px){
  .about-sidebar-menu{
    width: 95%;
  }
}
.about-sidebar-menu ul {
  list-style-type: none;
  border: 1px solid var(--grey);
  padding: 0;
}

.about-sidebar-menu li {
  padding: 15px;
  font-size: 15px;
  color: var(--dark-grey);
  border-bottom: 1px solid var(--grey);
  cursor: pointer;
  position: relative;
}

.listing-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-icon {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.about-sidebar-menu-dropdown-content {
  max-height: 0;
  border: none!important;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.about-sidebar-menu-dropdown-content.open {
  max-height: 150px; /* Adjust based on content height */
  transition: max-height 0.6s ease;
  
}

.related-pages,
.contact-box {
  margin-top: 20px;
  padding: 10px;
  background: #f8f8f8;
  font-size: 12px;
  border: none;
  text-align: center;
}

.contact-box {
  background: #0071c5;
  color: white;
}

.contact-box a {
  color: white;
  text-decoration: none;
}

.contact-box a:hover {
  text-decoration: underline;
}

.abt-section-1 {
  width: 25%;
}
@media(max-width:1120px){
  .abt-section-1{
    width: 100%;
  }
}
.abt-section-2 {
  width: 75%;
}
@media(max-width:1120px){
  .abt-section-2{
    width: 100%;
  }
}
.about-sidebar-menu h3{
  font-size: 15px;
}
.about-bar{
  width: 37px;
  height: 5px;
  display: flex;
  margin: 10px;
  background-color: var(--accent-color) ;
}
.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-box p {
  margin: 10px;
  font-size: 16px;
}
.contact-box a {
  margin: 10px;
  font-size: 16px;
}
.about-section-2{
  padding: 20px;
}
.advisor-dsp {
  margin-bottom: 25px;
}

.exp-cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
@media(max-width:1130px){
  .exp-cards-container{
    flex-direction: column;
  }
}
.exp-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 270px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}
@media(max-width:1130px){
  .exp-card{
    max-width: 100%;
  }
}
.exp-card img {
  width: 100%;
  height: 165px;
}
@media(max-width:1130px){
  .exp-card img{
    height: auto;
  }
}
.exp-card-content {
  padding: 15px;
}

.exp-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.exp-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.exp-card a {
  color: #0071c5;
  text-decoration: none;
  font-weight: bold;
}

.exp-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .exp-cards-container {
      flex-direction: column;
      align-items: center;
  }
}
.about-section-3{
  padding: 20px;
}
.about-section-4{
  padding: 20px;
}
.explore-dsp h3{
  margin: 20px;
}
.e-descrip{
  margin-top: 15px;
}